.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: rgb(41, 36, 36);
  color: white;
  position: sticky;
  top: 0;
}

.navbar h3 {
  cursor: pointer;
}

.icon {
  cursor: pointer;
}
